<% comment_class = current_user==comment.user ? "edit_comment" : "" %>
<div class="comment">
  <p class='comment-meta'>
    <span class="comment-user">
      <%= comment.user.present? ? link_to(comment.user.name, comment.user) : "[User Deleted]" %></span> |
    <%= timeago(comment.updated_at, {:class => 'comment-time'}) %>
  </p>
  <p class="comment-body <%= comment_class %>" id="<%= comment_path(comment) %>">
    <%= comment.body %>
  </p>
</div>
