<% can_approve = current_user.privileged? @group %>
<li class='group-list-li'>
  <%= gravatar_for(group.creator, :size => 30) if group.creator.present? %>
  <%= content_tag :span, link_to(group.name, group), :class => 'group-link' %><br />
  <span class="group-mems"><%= pluralize group.users.count, "member"  %></span> |
  <span class="group-cons"><%= pluralize group.groups.count, "connection"  %></span>
  <p class='group-status'>
    Pending Connection<br />
    <%= link_to("Approve", approve_group_group_path(@group, :g => group.id), :method => 'POST') if can_approve %>
    <%= link_to("Deny", approve_group_group_path(@group, :g => group.id), :method => 'DELETE') if can_approve %>
  </p>
</li>
