<div class='group_profile'>
  <h1>
    <%= @group.name %>
  </h1>

  <h2>Please select a group to connect with:</h2>

  <%= form_tag(link_path(@group), :method => :post) do %>
    <div class='fields'>
      <%= collection_select(:group, :id, @groups, :id, :name, :prompt => true) %>
    </div>
    <div class='actions'>
      <%= submit_tag "Connect to Group" %>
    </div>
  <% end %>

  <%= "You're a leader!" if @leader %>
</div>
