<div class="content-bg">
  <div id="show-group" class="main-right full">
    <div class="alt-item-head headerfull">
      <h2>About</h2>
      <%= content_tag(:span, link_to("Request to Join »", join_path(@group), :method => :post), :class => 'join-button button', :id => 'join_button') unless @member || @pending %>
      <%= content_tag(:span, "Membership Pending", :class => :button) if @pending %>

    </div>
    <p><%= @group.about %></p>

    <div class="alt-item-head headerfull">
      <h2>Members</h2>
    </div>
    <ul class='group-members-ul'>
      <%= render 'user', :user => @group.creator %>
      <% @group.users_by_role.each do |user| %>
        <%= render 'user', :user => user %>
      <% end %>

      <% if @admin && @group.pending_members.present? %>
        <% @group.pending_members.each do |p| %>
          <%= render 'pending_user', :user => p %>
        <% end %>
      <% end %>
      <div class="clearall"></div>
    </ul>

    <div class="alt-item-head headerfull">
      <h2>Connected Groups</h2>
    </div>
    <ul class="group-groups-ul">
      <% if @group.groups.present? %>
        <% @group.groups.each do |gr| %>
          <%= render 'layouts/group_list', :group => gr %>
        <% end %>
      <% else %>
        <li>No Groups yet.</li>
      <% end %>
      <div class="clearall"></div>
    </ul>

    <% if @admin %>
      <%= link_to("Connect to Groups", link_path(@group), :class => 'round') %>
    <% end %>

  </div>
</div>
