<%= link_to("Join Group", join_path(@group), :method => :post, :class => 'join_button round', :id => 'join_button') unless @member %>

<% if @admin %>
  <%= link_to("Connect to Groups", link_path(@group), :class => 'round') %>
<% end %>

<div class='group-profile'>

  <h3 id='group-about-title'>About</h3>
  <p>
    <%= @group.about %>
  </p>

  <h3 id="group-members">Members</h3>
  <ul class='group-members-ul'>
    <%= render 'user', :user => @group.creator %>
    <% @group.users_by_role.each do |user| %>
      <%= render 'user', :user => user %>
    <% end %>
  </ul>

  <h4>Connected Groups</h4>
  <ul class='group-groups-ul'>
    <% if @group.groups.present? %>
      <%= render @group.groups %>
    <% else %>
      <li>No Groups yet.</li>
    <% end %>
  </ul>

  <!--  <h4>Discussions</h4>
  <% if @group.discussions.present? %>
    <%= render @group.discussions %><br />
  <% else %>
    No Discussions yet.<br />
  <% end %>
  <%= link_to "Add a Discussion", new_group_discussion_path(@group)  %><br /><br />

  <h4>Todo Lists</h4>
  <% if @group.todos.present? %>
    <%= render @group.todos %><br />
  <% else %>
    No Todos yet.<br />
  <% end %>
  <%= link_to "Add a Todo", new_group_todo_path(@group)  %><br /><br />

  <% if @group.item_shares.present? %>
    Being Shared On:
    <ul>
      <% @group.item_shares.each do |i| %>
        <%= render('shared_item', :item => i.item) unless i.item.group_id == @group.id %>
      <% end %>
    </ul>
  <% end %>
