<%= link_to("Join Group", join_path(@group), :method => :post, :class => 'join_button round', :id => 'join_button') unless @member %>

<div class='group_profile'>
  <h1>
    <%= @group.name %>
  </h1>

  <h4>Name</h4> <%= @group.name %><br />
  <h4>About</h4> <%= @group.about %><br />

  Creator: <%= @group.creator.name %><br />
  <h4>URL</h4> <%= link_to @group.name, @group %><br /><br />

  <h4>Leaders</h4> <%= render @group.leaders %><br />
  <h4>Users</h4> <%= render @group.non_leaders %><br /><br />

  <h4>Connected Groups</h4>
  <% if @group.groups.present? %>
    <%= render @group.groups %><br />
  <% else %>
    No Groups yet.<br />
  <% end %>


  <% if @leader %>
    <%= "You're a leader! Connect!" %><br />
    <%= link_to("Connect to Groups", link_path(@group), :class => 'round') %><br />
  <% end %>

  <h4>Discussions</h4>
  <% if @group.discussions.present? %>
    <%= render @group.discussions %><br />
  <% else %>
    No Discussions yet.<br />
  <% end %>
  <%= link_to "Add a Discussion", new_group_discussion_path(@group)  %><br /><br />

  <h4>Todo Lists</h4>
  <% if @group.todos.present? %>
    <%= render @group.todos %><br />
  <% else %>
    No Todos yet.<br />
  <% end %>
  <%= link_to "Add a Todo", new_group_todo_path(@group)  %><br /><br />

  <% if @group.item_shares.present? %>
    Being Shared On:
    <ul>
      <% @group.item_shares.each do |i| %>
        <%= render 'shared_item', :item => i.item %>
      <% end %>
    </ul>
  <% end %>

</div>
