<div class='profile'>
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
  <strong>Email</strong> <%= @user.email %><br />
  <strong>About</strong><%= @user.about %><br />
  <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
<strong>Groups</strong><%= render @user.groups %><br />
</div>
