<div class="content-bg">
  <div id="wrapper">
    <div id="user" class="main-right full">
      <div class="item">
        <div class="item-head headerfull">
          <h2><%= @user.name %>'s Profile</h2><span class="create-button button"><!-- <a href="#">Edit User »</a></span> -->
        </div>

        <h1 class="top"><%= gravatar_for @user %> <%= @user.name %></h1>

        <p class="about-user"><span class="user-title">About</span><%= @user.about %></p>
        <p class="email-user"><span class="user-title">Email</span><%= @user.email %></p>
        <p class="groups-user">
          <span class="user-title">Groups</span>
        </p>

        <div class="group-cont">
          <ul class="user-groups">
            <% @user.groups.each do |gr| %>
              <%= render 'layouts/group_list', :group => gr %>
            <% end %>
          </ul>

          <div class="clearall"></div>
        </div>

      </div>
    </div>

    <div class="clearall"></div>
  </div>
</div>
