<div class="content-bg">
  <div id="main-right" class="main-right full">
    <div class="alt-item-head headerfull">
      <h2><%= @document.title %></h2>
      <span id="comment-button" class="button"><a href="#comments">Comment</a></span>
      <span id="share-button" class="button"><a href="<%= share_group_document_path(@group, @document) %>">Share »</a></span>
      <div class="creator">
        Created by:
        <%= @document.creator.present? ? link_to(@document.creator.name, @document.creator) : "[User Deleted]" %>
      </div>
    </div>
    <% if @shared.present? %>
      <ul class="shared-list greenme">
        <li>Shared between:  </li>
        <% @shared.each do |group| %>
          <%= render 'shared_group', :group => group %>
        <% end %>
      </ul>
    <% end %>

    <% if current_user.can_delete? @document %>
      <span class='delete button'><%= link_to "DELETE DOCUMENT", group_document_path(@group, @document), :method => :delete, :confirm => "You sure?",
        :title => "Delete #{@document.title}" %></span>
    <% end %>

    <p id="<%= @up_path %>" class='item-desc edit_doc_desc'>
      <i><%= @document.description %></i>
    </p>
    <div id="doc-link">
      <%= link_to 'Download', @document.doc.url, :target => '_blank', :class => 'shiny-button' %><br />
      <%= content_tag(:div, @document.doc_file_name, :class => 'docname' ) %>
    </div>

    <%= form_for @comment do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <%= hidden_field(:group, :id) %>
      <%= hidden_field(:document, :id) %>
      <div class="field">
        <a name="comments"></a>
        <p>Comments</p>
        <span><%= f.label :body, "Post Comment..." %></span><br />
        <%= f.text_area :body %>
      </div>
      <div class="actions">
        <%= f.submit 'Post Comment »' %>
      </div>
    <% end %>
    <div id="doc-comments">
      <%= render @document.comments %>
    </div>

  </div>
</div>
