<div class="content-bg">
  <div id="main-right" class="main-right full">
    <div class="alt-item-head headerfull">
      <h2>Create New To-Do</h2>
    </div>

    <%= form_for [@group, @todo] do |todo_f| %>
      <%= render 'fields', :f => todo_f %>

      <%= todo_f.fields_for :tasks, :tasks do |task_f| %>
        <%= render "task_fields", :f => task_f %>
      <% end %>
      <p class='add-task'><%= link_to_add_fields "Add Task", todo_f, :tasks  %></p>
      <div id="group-share">
        <h3>Share with:</h3>
        <div style="padding-left:10px;margin:-12px 0px 10px;">
          Share this item with your connections.
        </div>
        <p>
          <% if @group.groups.present? %>
            <%= check_box_tag :select_all %>
            <%= label_tag :select_all, "Select All" %>
            <br />
            <% if current_user.privileged? @group %>
              <%= check_box_tag :all_admins %>
              <%= label_tag :all_admins, "Share only with Admins" %>
              <br />
            <% end %>
          <% else %>
            <span class="note" style='color:#696A57;'>Sorry, <%= @group.name %> must be connected with other groups to share.</span>
            <% if current_user.privileged? @group %>
              <br />
              <%= link_to "Connect with Other Groups", link_path(@group), :target => '_blank' %>
            <% end %>
          <% end %>
        </p>
        <ul class="share-list">
          <% if @group.groups.present? %>
            <% @group.groups.each do |g| %>
              <%= render 'items/group_share', :group => g %>
            <% end %>
          <% end %>
        </ul>
        <div class="clearall"></div>
      </div>
      <div class='actions'>
        <% if current_user.privileged? @group %>
          <span class="admins_only">
            <%= check_box_tag :admins_only %>
            <%= label_tag :admins_only, "Only share with admins of #{@group.name}" %>
          </span>
        <% end %>
        <span class="todo-fix"><%= todo_f.submit "Create List" %></span>
      </div>
    <% end %>
  </div>
</div>
