<div class='group_todo'>
  <h1>
    <%= "#{@todo.title} - #{@group.name}" %>
  </h1>

  <strong>Title</strong> <%= @todo.title %><br />

  <strong>Description</strong> <%= @todo.description %><br />

  Creator: <%= @todo.creator.name %><br />
  <strong>URL</strong> <%= link_to group_todo_path(@group, @todo) %><br /><br />
  <br /><br />
  <% if @shared.present? %>
    <ul>
      Item Shared With:
      <% @shared.each do |group| %>
        <%= render 'share', :group => group %>
      <% end %>
    </ul>
  <% end %>
  <% if @unshared.present? %>
    <ul>
      Share Item With:
      <% @unshared.each do |group| %>
        <%= render 'groups', :group => group %>
      <% end %>
    </ul>
  <% end %>
  <ul class="sortable">
    <%= render @todo.tasks %>
  </ul>
  <%= form_for @comment do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <%= hidden_field(:group, :id) %>
    <%= hidden_field(:todo, :id) %>
    <div class="field">
      <%= f.label :body, "Post Comment" %><br />
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit 'Post' %>
    </div>
  <% end %>
  <%= render @todo.comments %>

</div>
