<div class="content-bg">
  <div id="main-right" class="main-right full">
    <div class="item-head headerfull">
      <h2><%= @todo.title %></h2>
      <span id="add-task-button" class="button">Add Task</span>
      <span id="comment-button" class="button"><a href="#comments">Comment</a></span>
      <span id="share-button" class="button"><a href="#">Share »</a></span>
    </div>

    <p id="<%= @up_path %>" class='edit_todo_desc'><i><%= @todo.description %></i></p>

    <% if @shared.present? %>
      <ul class="shared-list greenme">
        <li>Shared With:</li>
        <% @shared.each do |group| %>
          <a href="#"><%= render 'share', :group => group %></a>&nbsp;
        <% end %>
      </ul>
    <% end %>
    <% if (@unshared.present? && current_user.member_of?(@group)) %>
      <ul class="shared-list greenme">
        <li>Share Item With:</li>
        <% @unshared.each do |group| %>
          <%= render 'groups', :group => group %>
        <% end %>
      </ul>
    <% end %>

    <div id="add-task-form">
      <%= form_for [@group, @todo] do |todo_f| %>
        <%= todo_f.fields_for :tasks, Task.new do |task_f| %>
          <%= render "task_fields", :f => task_f %>
        <% end %>
        <%= link_to_add_fields "New Task", todo_f, :tasks  %>
        <div class = 'actions'>
          <%= todo_f.submit "Add" %>
        </div>
      <% end %>
    </div>

    <ul class="todo-titles">
      <li class="todo-first">To-do Item</li>
      <li>Completed</li>
      <li>In Progress</li>
    </ul>

    <div class="clearall"></div>

    <ul class="sortable">
      <%= render @todo.tasks %>
    </ul>

    <%= form_for @comment do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <%= hidden_field(:group, :id) %>
      <%= hidden_field(:todo, :id) %>
      <div class="field">
        <a name="comments"></a>
        <p>Comments</p>
        <span><%= f.label :body, "Post Comment..." %></span><br />
        <%= f.text_area :body %>
      </div>
      <div class="actions">
        <%= f.submit 'Post Comment »' %>
      </div>
    <% end %>

    <div id="todo-comments">
      <%= render @todo.comments %>
    </div>
  </div>



  <div class="clearall"></div>
</div>



<!-- <div class='group_todo'>
  <h1>
    <%= "#{@todo.title} - #{@group.name}" %>
  </h1>

  <strong>Title</strong><br />
  <div><%= @todo.title %></div>

  <strong>Description</strong><br />
  <div id="<%= @up_path %>" class='edit_todo_desc'><%= @todo.description %></div>

  Creator: <%= @todo.creator.name %><br />
  <strong>URL</strong> <%= link_to group_todo_path(@group, @todo) %><br /><br />
  <br /><br />
  <% if current_user.can_delete? @todo %>
    <%= link_to "DELETE TODO", group_todo_path(@group, @todo), :method => :delete, :confirm => "You sure?",
      :title => "Delete #{@todo.title}" %>
  <% end %>

  <% if @shared.present? %>
    <ul>
      Item Shared With:
      <% @shared.each do |group| %>
        <%= render 'share', :group => group %>
      <% end %>
    </ul>
  <% end %>
  <% if (@unshared.present? && current_user.member_of?(@group)) %>
    <ul>
      Share Item With:
      <% @unshared.each do |group| %>
        <%= render 'groups', :group => group %>
      <% end %>
    </ul>
  <% end %>

  <%= form_for [@group, @todo] do |todo_f| %>
    <%= todo_f.fields_for :tasks, Task.new do |task_f| %>
      <%= render "task_fields", :f => task_f %>
    <% end %>
    <p><%= link_to_add_fields "New Task", todo_f, :tasks  %></p>
    <div class = 'actions'>
      <%= todo_f.submit "Add" %>
    </div>
  <% end %>

  <ul class="sortable">
    <%= render @todo.tasks %>
  </ul>
  <%= form_for @comment do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <%= hidden_field(:group, :id) %>
    <%= hidden_field(:todo, :id) %>
    <div class="field">
      <%= f.label :body, "Post Comment" %><br />
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit 'Post' %>
    </div>
  <% end %>
  <%= render @todo.comments %>

</div> -->
