<footer>
  <nav class='round'>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Invite", invite_path if signed_in? %></li>
      <li><%= link_to "Blog", 'http://jungolhq.com' %></li>
      <li><%= link_to "Contact", 'mailto:admin@jungolhq.com' %></li>
      <li><%= link_to "Help", '#' %></li>
    </u>
  </nav>
</footer>

