<footer>
  <nav>
    <ul>
      <li class="first">Jungol © 2011</li>
      <li><%= link_to "About", '#' %></li>|
      <li><%= link_to "Blog", 'http://blog.jungolhq.com' %></li>|
      <li><%= link_to "Help", '#' %>|
      <li><%= link_to "Privacy", '#' %>|
      <li><%= link_to "Legal", '#' %>|
      <!--<li><%= link_to "Invite", invite_path if signed_in? %></li> -->
      <li><%= link_to "Contact", 'mailto:admin@jungolhq.com' %></li>
    </ul>
  </nav>
</footer>
