<div class="group-info">
  <% if @group.present? && @group.id.present? %>
    <div class="group-img">
      <span class="group-img-wrap">
        <%= render 'groups/logo', :group => @group, :size => 300 %>
      </span>
    </div>
    <div class="group-text">
      <h1><%= @group.name %></h1>
      <p><%= link_to "Group Info", @group %> | <a href="/users/invitation/new">Invite New User</a>
        <% if current_user.privileged? @group %>
          |
          <%= link_to "Edit Group", edit_group_path(@group) %>
        <% end %>
      </p>
      <p class="blurb"><%= truncate @group.about, :length => 150, :separator => ' ' %></p>
    </div>
  <% else %>
    <div class="group-text">
      <h1><%= @title %></h1><br /><br />
      <p class="blurb noleft">
        <%= @blurb.blank? ? "Fusce ut augue quis nisl bibendum tincidunt ut eget diam. Sed urna est, rutrum dignissim. Fusce ut augue quis nisl bibendum tincidunt utnissim." : @blurb %>
      </p>
    </div>
  <% end %>
  <div class="clearall"></div>
</div>
