<header>
  <%= link_to logo, root_path %>

	<form class="search-form">
		<input class="search-field" type="text" value="search groups" onfocus="if(this.value=='search groups'){this.value='';}" onblur="if(this.value==''){this.value='search groups';}" />
		<input class="search-button" type="button" value="go" />
	</form>

  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li> | 
      <li><%= link_to "Groups", groups_path %></li> | 
      <% if signed_in? %>
        <li><%= link_to "Profile", current_user %></li> | 
      <% end %>
      <%= render 'devise/menu/registration_items' %> | 
      <%= render 'devise/menu/login_items' %>
    </ul>
  </nav>

	<div class="clearall"></div>
	
	<div class="secondary">
		<div class="groups-list">
			<h1>Groups</h1>
			<ul>
				<li><a href="#">My Groups</a></li>
				<li><a href="#">All Groups</a></li>
				<li><a href="#">Create New Group</a></li>
			</ul>
		</div>
		
		<div class="group-info">
			<%= image_tag "prssa-logo.png", :alt => 'PRSSA Logo'  %>
			<h1>Public Relations Student Society of America</h1>
			<p><a href="#">Group Info</a> | <a href="#">Invite New Members</a></p>
			<p class="blurb">Fusce ut augue quis nisl bibendum tincidunt ut eget diam. Sed urna est, rutrum dignissim. Fusce ut augue quis nisl bibendum tincidunt utnissim.</p>
			
			<div class="clearall"></div>
		</div>
		
		<div class="clearall"></div>
	</div>
	

</header>
