<!DOCTYPE html>
<%= javascript_include_tag "application" %>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :class => "flash #{name}" if msg.is_a?(String) %>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development?  %>
    </div>
  </body>
</html>
